@media screen and ( max-width: 1920px )
  .menu
    &__item
      position: relative
      &::after
        display: block
        position: absolute
        left: 0
        bottom: -18px
        height: 2px
        background-color: $primary
        content: ""
        transition: width 0.3s ease
      &:hover::after
        transition: width 0.3s ease
        width: 100%
  .other
    &__wrapper
      position: relative
      transition: 0.3s
      &:hover::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: rgba($change, 0.8) 
        transition: 0.3s 
        border-radius: 3px
        cursor: pointer
    &__text
      &:hover
        transition: all 0.3s ease
        color: $change
  .footer
    &__button
      z-index: 1
      position: relative
      &:after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: rgb(195,55,34)
        transition: 0.3s ease
        background: linear-gradient(0deg, rgba(195,55,34,1) 0%, rgba(253,153,45,1) 100%)
        opacity: 0
        z-index: -1
        border-radius: 3px
      &:hover::after
        opacity: 1
  .socials
    &__icon-box
      transition: all 0.3s ease
      &:hover
        filter: invert(56%) sepia(40%) saturate(843%) hue-rotate(130deg) brightness(101%) contrast(90%)      
  .props
    &__link
      &:hover
        color: $change
        text-decoration: underline
@media screen and ( max-width: 1756px )
  .header
    &__container
      max-width: 1240px  
@media screen and ( max-width: 1438px )
  .header
    &__container
      max-width: 80.83333rem
      width: 100%
  .footer
    &__title-box
      margin-right: 12.085714rem
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .hero
    &__container
      max-width: 74.166666rem
  .header
    &__container
      max-width: 80.83333rem
      width: 100%
  // first slider
  .other
    &__wrapper
      position: relative
      width: 100%
      height: 12.285714rem
      margin-bottom: 1.257142rem
    &__video
      max-width: 21.857142rem
      width: 100%
      min-height: 100%
      border-radius: 3px
  .video
    &__content
      max-width: 71.28573rem
      &::before
        background-size: cover
  .block
    &__other
      margin-right: 6.4285714rem
      max-width: 21.857142rem
      &:last-child
        margin-right: 0
  .slider
    &__title
      margin-right: 4.642857rem
  .swiper-slide-first
    max-width: 306px  
  .swiper-container-first
    max-width: 50.357142rem 
  .swiper-button-prev
    left: -41px
    top: 75px
  .swiper-button-next
    right: -374px
    top: 75px
  .other
    &__video 
      max-width: 21.857142rem
  // swiper-second
  .swiper
    &-slide-second
      margin-right: 4.25rem
  // info block
  .info
    &__wrap-first 
      max-width: 19.214285rem
  .features
    &__transmission
      padding-top: 3.8rem 
  .complete
    &__docs
      margin-right: 8rem
  .icon
    &__box
      margin-right: 0
  .num
    margin-right: 13px
    margin-left: 7px

  // footer block
  .details
    &__container
      height: 16rem
      max-width: fit-content
  .footer
    &__dark
      margin: auto
      max-width: 74rem
      margin-top: 14.285714rem
      margin-bottom: 10.9rem
    &__props
      width: 10rem
      margin-right: 4.2859rem
    &__contacts
      margin-right: 5.0714rem
    &__title-box
      margin-right: 7.085714rem
    &__form-block
      max-width: 24.857142rem
      margin-right: 4.028571rem
  .socials
    &__icon-box
      margin-right: 15px
  .button
    &-top
      top: 58rem
      right: 4rem
@media screen and ( max-width: 992px )
  // hero
  .hero
    min-height: 90vh
    &__container
      max-width: 50rem
    &__title
      max-width: 25.5rem
      width: 100%
      font-size: 4.5rem
      letter-spacing: normal
  .header
    &__container
      position: relative
      display: flex
      align-items: center
      width: 100%
      max-width: 604px
      margin-bottom: 15rem
    &__menu
      // max-width: 25rem
      flex-direction: column
  //  burger-menu
  .burger
    display: flex
    width: 30px
    height: 30px
  .burger-logo
    cursor: pointer
    filter: invert(1)
  .mobile-container 
    display: none
    flex-direction: column
    align-items: center
    max-width: 350px
    margin: auto
    transition: 0.3s
  .menu
    max-width: 34rem
    transition: 0.3s
    &__nav
      margin-top: 1rem
      margin-right: 29px
    &__item
      margin-right: 0
      color: $light
      &::after
        display: none
    &__logo-wrapper
      max-width: 
  .menu
    position: relative
    &__nav
      display: none
      position: absolute
      top: 2rem
      width: 185px
  .logo
    &__header-image
      width: 5rem
  .video
    &__content
      &::before
        background-size: cover
  .video
    &__content
      max-width: 40.25rem
      min-height: 20.583333rem
      bottom: -13rem
      &::before
        width: 100%
        height: 100%
        background-size: cover 
    &__text-wrap
      top: -9.16666rem
      left: -3px
  // блок внутри block__other
  // меняет ширину контейнера для изображения  
  // slider section
  .slider
    &__container
      flex-direction: column
      margin: auto  
      margin-top: 12.85714rem
      margin-bottom: 7.785714rem
      max-width: 32rem
    &__title  
      margin-bottom: 4rem
  // container для изображений слайдера внутри swiper-slide
  .other
    &__wrapper
      height: 17.285714rem
      width: 29rem
    &__video
      max-width: 31rem
  .swiper-container-first 
    max-width: 31rem
  .swiper-slide-first
    max-width: 32rem
    margin-right: 0 
  .block__other
    margin-left: 0
  .swiper-slide-primary
    max-width: 32rem
  .swiper-button-prev_first
    left: -4rem
    top: 8.5rem
  .swiper-button-next_first
    right: -0.83333rem
    top: 8.5rem
  // слайдер доделать обязательно 27,06
  //  reviews
  .cards
    &__wrapper
      flex-direction: row
      flex-wrap: wrap
      margin: auto
      max-width: 55rem
  .reviews
    &__cards
      margin-right: 5.66666rem
  // promo with second slider
  .promo
    &__content
      flex-direction: column
      max-width: 32rem
      margin: auto
      margin-top: 4rem
      margin-bottom: 10rem 
  .about
    &__block  
      // margin: auto
      margin-bottom: 4rem
      max-width: 20.83333rem
    &__title
      margin-bottom: 4rem
      max-width: 17.83333rem
    &__text
      max-width: 17.5rem
  .more
    &__promo
      max-width: 30rem
      height: 17.58333rem
  .slide-second
    width: 23.33333rem
  .swiper-slide-second
    order: 1
    width: 100%
    max-width: 32rem
    margin-left: 1rem
  .swiper-button-next_second
    left: 29.5rem
    top: 5.66666rem
  .swiper-button-prev_second
    left: -2.58333rem
    top: 5.66666rem
  .pagination-second
    left: 0
  // info section
  .info
    &::before
     background-image: none 
    &__container
      flex-direction: column
    &__wrap-first
      max-width: 50rem
      width: 100%
      margin: auto
    &__wrap-second
      justify-content: center
      width: 100%
  .features
    display: flex
    flex-direction: row
    margin-bottom: 4rem
    &__transmission
      justify-content: center;
      padding: 47px 7px
      width: 24rem
      margin-right: 1rem
  .transmission
    justify-content: center
    padding: 47px 7px
  .complete
    &__wrap-second 
      display: flex
      flex-direction: row
      justify-content: space-around
      width: 100%
      max-width: 43.25rem
    &__docs
      justify-content: center
      margin-right: 0
      width: 100%
      max-width: 21rem
      margin: auto
      margin-bottom: 4rem
    &__components
      max-width: 21rem
      margin: auto
  .components
    &__promo
      max-width: 20.41666rem
  .docs
    &__text
      max-width: 16.66666rem
  .section
    &__footer
      display: flex
      flex-direction: column
      flex-wrap: wrap
  // footer + form and price
  .footer
    &__dark
      flex-direction: column
      max-width: 336px
      margin: auto
      margin-top: 14.28rem
      margin-bottom: 10rem
    &__title-box  
      display: flex
      max-width: 28.08333rem
      justify-content: center
      text-align: center
      width: 100%
      margin-right: 0
      margin-bottom: 3rem
    &__form-block
      max-width: 28.08333rem
      width: 100%
      margin-bottom: 5rem
    &__total
      margin-bottom: 10rem
    &__details
      display: flex
      margin-bottom: 3rem
    &__questions
      display: flex
      order: 1
      width: 100%   
      padding: 0
      background-image: none
    &__contacts
      margin-right: 0
    &__props
      margin-right: 1rem
  .details
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 25.5rem
      width: 100%
    &__community
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      order: 2
  .swiper-buttons-box 
    left: 17.58333rem
    top: 24.166666rem
  .swiper-button-prev_third 
    right: 4.08333rem
    left: 0
    top: -9.33333rem
  .swiper-button-next_third  
      top: -9.33333rem
  .pagination-third
    left: -14.5rem
  .questions
    &__wrapper
      top: -11.5rem
      left: 0
  // блок с соцсетями
  .socials
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 21rem
    &__social-box
      display: flex
      justify-content: center
      margin-right: 0
      margin: auto
      margin-bottom: 2rem
    &__rights
      display: flex
      margin: auto
    &__icon-box
      margin-right: 22px
      &:last-child
        margin-right: 0
  .rights
    &__message
      margin-right: 0
  .button-top
    position: fixed
    top: 58rem
    right: 4rem  
@media screen and ( max-width: 768px )
  // hero
  .hero
    min-height: 90vh
    &__container
      max-width: 43rem
    &__title
      max-width: 25.5rem
      width: 100%
      font-size: 4.5rem
      letter-spacing: normal
  .header
    &__container
      max-width: 496px
      width: 100%
    &__menu
      max-width: 25rem
      flex-direction: column
  .mobile-container
    align-items: flex-end
  .menu
    &__nav
      display: none
      position: absolute
      margin-right: 0
      right: -3px
  .video
    &__content
      max-width: 40.25rem
      min-height: 20.583333rem
      bottom: -13rem
      &::before
        background-size: cover 
    &__text-wrap
      top: -9.16666rem
      left: -3px
  // блок внутри block__other
  // меняет ширину контейнера для изображения  
  // slider section
  .slider
    &__container
      flex-direction: column
      margin: auto  
      margin-top: 17.85714rem
      margin-bottom: 7.785714rem
      max-width: 32rem
    &__title  
      margin-bottom: 4rem
  // container для изображений слайдера внутри swiper-slide
  .other
    &__wrapper
      height: 17.285714rem
      width: 29rem
    &__video
      max-width: 31rem
  .swiper-container-first 
    max-width: 31rem
  .swiper-slide-first
    max-width: 32rem
    margin-right: 0 
  .block__other
    margin-left: 0
  .swiper-slide-primary
    max-width: 32rem
  .swiper-button-prev_first
    left: -4rem
    top: 8.5rem
  .swiper-button-next_first
    right: -0.83333rem
    top: 8.5rem
  // слайдер доделать обязательно 27,06
  //  reviews
  .cards
    &__wrapper
      flex-direction: row
      flex-wrap: wrap
      margin: auto
  .reviews
    &__cards
      margin-right: 5.66666rem
  // promo with second slider
  .promo
    &__content
      flex-direction: column
      max-width: 32rem
      margin: auto
      margin-top: 4rem
      margin-bottom: 10rem 
  .about
    &__block  
      margin: auto
      margin-bottom: 4rem
      max-width: 27.83333rem
    &__title
      margin-bottom: 4rem
      max-width: 25.83333rem
    &__text
      max-width: 27.5rem
  .more
    &__promo
      max-width: 30rem
      height: 17.58333rem
  .slide-second
    width: 23.33333rem
  .swiper-slide-second
    order: 1
    width: 100%
    max-width: 32rem
    margin-left: 1rem
  .swiper-button-next_second
    left: 29.5rem
    top: 5.66666rem
  .swiper-button-prev_second
    left: -2.58333rem
    top: 5.66666rem
  .pagination-second
    left: 0
  // info section
  .info
    &::before
     background-image: none 
    &__container
      flex-direction: column
    &__wrap-first
      max-width: 43rem
      width: 100%
      margin: auto
    &__wrap-second
      justify-content: center
      width: 100%
  .features
    margin-bottom: 4rem
  .transmission
    justify-content: center
    padding: 47px 7px
  .complete
    &__wrap-second 
      display: flex
      flex-direction: row
      justify-content: space-around
      width: 100%
    &__docs
      justify-content: center
      margin-right: 0
      width: 100%
      max-width: 21rem
      margin: auto
      margin-bottom: 4rem
    &__components
      max-width: 21rem
      margin: auto
  .components
    &__promo
      max-width: 20.41666rem
  .docs
    &__text
      max-width: 16.66666rem
  .section
    &__footer
      display: flex
      flex-direction: column
      flex-wrap: wrap
  // footer + form and price
  .footer
    &__dark
      flex-direction: column
      max-width: 336px
      margin: auto
      margin-top: 14.28rem
      margin-bottom: 10rem
    &__title-box  
      display: flex
      max-width: 28.08333rem
      justify-content: center
      text-align: center
      width: 100%
      margin-right: 0
      margin-bottom: 3rem
    &__form-block
      max-width: 28.08333rem
      width: 100%
      margin-bottom: 5rem
    &__total
      margin-bottom: 10rem
    &__details
      display: flex
    &__questions
      display: flex
      order: 1
      width: 100%   
      padding: 0
      background-image: none
    &__contacts
      margin-right: 0
    &__props
      margin-right: 1rem
  .details
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 25.5rem
      width: 100%
    &__community
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      order: 2
  .swiper-buttons-box 
    left: 17.58333rem
    top: 24.166666rem
  .swiper-button-prev_third 
    right: 4.08333rem
    left: 0
    top: -9.33333rem
  .swiper-button-next_third  
      top: -9.33333rem
  .pagination-third
    left: -14.5rem
  .questions
    &__wrapper
      top: -11.5rem
      left: 0
  // блок с соцсетями
  .socials
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 21rem
    &__social-box
      display: flex
      justify-content: center
      margin-right: 0
      margin: auto
      margin-bottom: 2rem
    &__rights
      display: flex
      margin: auto
    &__icon-box
      &:last-child
        margin-right: 0
  .rights
    &__message
      margin-right: 0
  .button-top
    position: fixed
    top: 58rem
    right: 4rem  
  
@media screen and ( max-width: 576px )
  // hero
  .hero
    min-height: 120vh
    &__container
      margin-bottom: 1rem
      &__title
      max-width: 25.5rem
      width: 100%
      font-size: 4.5rem
      letter-spacing: normal
  .header
    &__container
      max-width: 360px
      width: 100%
      margin-bottom: 15rem
    &__menu
      max-width: 25rem
      flex-direction: column
  .menu
    &__nav
      display: none
  .video
    &__content
      max-width: 28.25rem
      width: 100%
      min-height: 14.583333rem
      bottom: -8rem
      &::before
        background-size: cover 
    &__text-wrap
      top: -9.16666rem
      left: -3px
  // slider section
  .other
    &__wrapper
      height: 12.285714rem
      width: 21.857142rem
    &__video
      max-width: 21.857142rem
  .slider
    &__container
      flex-direction: column
      margin: auto  
      margin-top: 12.85714rem
      margin-bottom: 7.785714rem
      max-width: 25rem
    &__title  
      margin-bottom: 4rem
  .swiper-container-first 
    max-width: 25rem
  .swiper-slide-first
    max-width: 24rem
    margin-right: 0 
  .block__other
    margin-left: 0
  .swiper-slide-primary
    max-width: 25rem
  .swiper-button-prev_first
    left: -4rem
    top: 6rem
  .swiper-button-next_first
    right: -0.83333rem
    top: 6rem
  // слайдер доделать обязательно 27,06
  //  reviews
  .cards
    &__wrapper
      flex-direction: column
      margin: auto
      max-width: 5rem
  // promo with second slider
  .promo
    &__content
      flex-direction: column
      max-width: 25.5rem
      margin: auto
      margin-top: 4rem
      margin-bottom: 10rem 
  .about
    &__block  
      margin: auto
      margin-bottom: 4rem
      max-width: 20.83333rem
    &__title
      margin-bottom: 4rem
      max-width: 17.83333rem
    &__text
      max-width: 21.5rem
  .more
    &__promo
      max-width: 23.33333rem
      height: 14.58333rem
  .slide-second
    width: 23.33333rem
  .swiper-slide-second
    order: 1
    width: 100%
    max-width: 25rem
    margin-left: 1rem
  .swiper-button-next_second
    left: 22.5rem
    top: 4.66666rem
  .swiper-button-prev_second
    left: -2.58333rem
    top: 4.66666rem
  .pagination-second
    left: 0
  // info section
  .info
    &::before
     background-image: none 
    &__container
      flex-direction: column
    &__wrap-first
      max-width: 21rem
      width: 100%
      margin: auto
    &__wrap-second
      justify-content: center
      width: 100%
  .features
    flex-direction: column
    margin-bottom: 4rem
  .transmission
    justify-content: center
    padding: 47px 7px
  .complete
    &__wrap-second 
      display: flex
      flex-direction: column
      justify-content: center
      width: 100%
    &__docs
      justify-content: center
      margin-right: 0
      width: 100%
      max-width: 21rem
      margin: auto
      margin-bottom: 4rem
    &__components
      max-width: 21rem
      margin: auto
  .components
    &__promo
      max-width: 20.41666rem
  .docs
    &__text
      max-width: 16.66666rem
  .section
    &__footer
      display: flex
      flex-direction: column
      flex-wrap: wrap
  // footer + form and price
  .footer
    &__dark
      flex-direction: column
      max-width: 336px
      margin: auto
      margin-top: 14.28rem
      margin-bottom: 10rem
    &__title-box  
      display: flex
      max-width: 28.08333rem
      justify-content: center
      text-align: center
      width: 100%
      margin-right: 0
      margin-bottom: 3rem
    &__form-block
      max-width: 28.08333rem
      width: 100%
      margin-bottom: 5rem
    &__total
      margin-bottom: 10rem
    &__details
      display: flex
    &__questions
      display: flex
      order: 1
      width: 100%   
      padding: 0
      background-image: none
    &__contacts
      margin-right: 0
    &__props
      margin-right: 1rem
  .details
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 25.5rem
      width: 100%
    &__community
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      order: 2
  .swiper-buttons-box 
    left: 17.58333rem
    top: 24.166666rem
  .swiper-button-prev_third 
    right: 4.08333rem
    left: 0
    top: -9.33333rem
  .swiper-button-next_third  
      top: -9.33333rem
  .pagination-third
    left: -14.5rem
  .questions
    &__wrapper
      top: -11.5rem
      left: 0
  // блок с соцсетями
  .socials
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 21rem
    &__social-box
      display: flex
      justify-content: center
      margin-right: 0
      margin: auto
      margin-bottom: 2rem
    &__rights
      display: flex
      margin: auto
    &__icon-box
      &:last-child
        margin-right: 0
  .rights
    &__message
      margin-right: 0
  .button-top
    position: fixed
    top: 42rem
    right: 4rem  
@media screen and ( max-width: 375px )  
  // hero
  .hero
    min-height: 120vh
    &__container
      margin-bottom: 1rem
    &__title
      max-width: 22.5rem
      width: 100%
      font-size: 4rem
      letter-spacing: normal
  .header
    &__container
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      max-width: 300px
      margin-bottom: 10rem
    &__menu
      display: flex
      width: 100%
      flex-direction: column
      margin-bottom: 0
      margin-left: 0
      margin-right: 0 
  .burger
    display: flex
    width: 30px
    height: 30px
  .burger-logo
    cursor: pointer
    filter: invert(1)
  .mobile-container 
    display: none
    flex-direction: column
    align-items: flex-end
    margin: auto
  .menu
    max-width: 34rem
    &__nav
      margin-top: 1rem
      margin-right: 22px
    &__item
      margin-right: 0
      color: $light
      &::after
        display: none
    &__logo-text
      font-size: 2.171428rem
  .logo__header-image 
    max-width: 3.857142rem
    height: 3.857142rem
  .video
    &__content
      max-width: 24.25rem
      min-height: 12.583333rem
      bottom: -11rem
      &::before
        background-size: cover 
    &__text-wrap
      top: -10.16666rem
      left: -3px
    &__title
      font-size: 2.071428rem
    &__text
      line-height: 1.5
  // slider section
  .slider
    &__container
      flex-direction: column  
      margin-top: 13.85714rem
    &__title  
      margin-bottom: 4rem
  .swiper-container-first 
    max-width: 25rem
  .swiper-slide-first
    max-width: 24rem
    margin-right: 10px 
  .block__other
    margin-left: 11px
  .swiper-slide-primary
    max-width: 25rem
  .swiper-button-prev_first
    left: -1.5rem
    top: 6.3rem
    height: 50px
    width: 50px
  .swiper-button-next_first
    right: -1.13333rem
    top: 6.3rem
    height: 50px
    width: 50px
  // слайдер доделать обязательно 27,06
  //  reviews
  .cards
    &__wrapper
      flex-direction: column
      margin: auto
      max-width: 12rem
  // promo with second slider
  .promo
    &__content
      flex-direction: column
      margin-top: 6.25rem‬
      width: 100%
  .about
    &__block  
      margin-bottom: 4rem
      width: 100%
      margin-left: 0
    &__title
      margin-bottom: 4rem
  .more
    &__promo
      max-width: 23.33333rem
      height: 14.58333rem
  .slide-second
    width: 23.33333rem
  .swiper-slide-second
    order: 1
    width: 100%
    max-width: 25rem
    margin-left: 0
  .swiper-button-next_second
    left: 20.6rem
    top: 5rem
    height: 50px
    width: 50px
  .swiper-button-prev_second
    left: -1.58333rem
    top: 5rem
    height: 50px
    width: 50px
  .pagination-second
    left: 0
  // info section
  .info
    &::before
     background-image: none 
    &__container
      flex-direction: column
    &__wrap-first
      max-width: 28.08333rem
      width: 100%
      margin-right: 0 
    &__wrap-second
      justify-content: center
      width: 100%
  .features
    margin-bottom: 4rem
  .transmission
    justify-content: center
    padding: 47px 7px
  .complete
    &__wrap-second 
      display: flex
      flex-direction: column
      justify-content: center
      width: 100%
    &__docs
      justify-content: center
      margin-right: 0
      width: 100%
      max-width: 23.33333rem
      margin-bottom: 4rem
    &__components
      max-width: 21rem
  .components
    &__promo
      max-width: 20.41666rem
  .docs
    &__text
      max-width: 16.66666rem
  .section
    &__footer
      display: flex
      flex-direction: column
      flex-wrap: wrap
  // footer + form and price
  .footer
    &__dark
      flex-direction: column
    &__title-box  
      display: flex
      max-width: 28.08333rem
      justify-content: center
      text-align: center
      width: 100%
      margin-right: 0
      margin-bottom: 3rem
    &__title
      font-size: 2.271428rem
    &__form-block
      max-width: 28.08333rem
      width: 100%
      margin-bottom: 5rem
    &__form
      max-width: 24rem
      margin-right: 0
      margin: auto
    &__total
      margin-bottom: 10rem
    &__details
      display: flex
    &__questions
      display: flex
      order: 1
      width: 100%   
      padding: 0
      background-image: none
    &__contacts
      margin-right: 0
    &__props
      margin-right: 1rem
  .details
    &__container
      display: flex
      flex-wrap: wrap
      width: 100%
    &__community
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      order: 2
  .swiper-buttons-box 
    left: 17.58333rem
    top: 24.166666rem
  .swiper-button-prev_third 
    right: 4.08333rem
    left: 0
    top: -9.33333rem
  .swiper-button-next_third  
      top: -9.33333rem
  .pagination-third
    left: -14.5rem
  .questions
    &__wrapper
      top: -11.5rem
      left: 0
  // блок с соцсетями
  .socials
    &__container
      display: flex
      flex-wrap: wrap
      max-width: 25rem
    &__social-box
      display: flex
      justify-content: center
      margin-right: 0
      margin: auto
      margin-bottom: 2rem
    &__rights
      display: flex
      margin: auto
    &__icon-box
      &:last-child
        margin-right: 0
  .rights
    &__message
      margin-right: 0
  .button-top
    position: fixed
    top: 42rem
    right: 2rem
 