.reviews
  background-color: $light
  &__container
    display: flex
    flex-direction: column
    margin-bottom: 11rem
  &__title
    margin-top: 9.8rem
    margin-bottom: 6.3571428rem
    text-align: center
  &__head
    margin-bottom: 1.28571rem
    font-size: 36px
    font-weight: bold
    line-height: 1.33
    letter-spacing: -1.44px
    color: $black
  &__text
    font-family: $sans
    font-weight: normal
    color: $grey
.user
  &__name
    display: flex
    margin-bottom: 1.21428rem
    font-weight: bold
    font-size: 1.142857rem
    line-height: 1.75
    color: $dark
  &__text
    min-width: 11.5rem
    margin-top: 0
    margin-bottom: 0
    font-weight: normal
    font-size: 0.928571rem
    line-height: 1.85
    color: $grey
  &__cards
    display: flex
    flex-direction: column
    flex-wrap: wrap
  &__image-block
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 1.857142rem
  &-photo
    position: relative
    left: -27px
    top: 34px
    object-fit: contain
    object-position: center
    border-radius: 50% 
    &::after
      content: ""
      position: absolute
      top: -50px
      left: 0
      width: 72px
      height: 72px
      background-image: url('../img/user-icon.svg') 
      background-repeat: no-repeat
.cards
  max-width: 14.071428rem
  &__wrapper
    display: flex
    justify-content: center
  &__box
    display: flex
    justify-content: space-around
    flex-direction: row
    width: 100%
    flex-wrap: wrap
    max-width: 48rem
    margin-bottom: 2rem 



